body {
  height: 100vh;

  background-image: url(../images/moderately-cold.jpeg);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  
}

h1 {
  font-size: 38px;
  text-align: center;
  padding: 20px;
}

h2 {
  font-size: 28px;
  text-align: center;
}

.white-box {
  background-color: #ffffffaa;
  border-radius: 5px;
  padding: 20px;
  margin-top: 80px;

}

/* .temp, .icon {
  background-color: teal;
} */


.button a {
  width: 100%;
  display: inline-block;
}

.icon {
  text-align: center;
}

.cel, .far {
  background-color: #ffffffaa;
  border-radius: 5px;
  padding: 20px;
  text-align: center;
}

.buttons {
  margin-top: 40px;
}

.btn {
  background-color: white;
  color: black;
  padding: 5px 20px;
  margin-top: 10px;
}


.active {
  background-color: #2D3047;
  color: white;
}

.active:hover {
  color: white;
}


/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
  /* body {
      background-color: blue;
  } */

  h2 {
    font-size: 22px;
  }
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
  /* body {
      background-color: pink;
  } */
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
  /* body {
      background-color: orange;
  } */
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
  /* body {
      background-color: violet;
  } */

  .button { 
    width: 100%;
    display: block;
  }

  .button a {
    height: 50px;
    display: block;
    padding-top: 10px;

  }

  .cel, .far {
    padding: 10px;
  }

  .icon {
    width: 20px;
  }

  .col-heading h1 {
    font-size: 32px;
  }

  h2 {
    font-size: 20px;
  }
}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {

  /* body {
      background-color: cyan;
  } */
}