body {
  height: 100vh;

  background-image: url(../images/moderately-cold.jpeg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}

.white-box {
  background-color: #ffffffaa;
  margin-top: 200px;
  margin-left: 10%;
  padding: 10px;
  border-radius: 5px;
  width: 80%;
}

.cel, .far {
  background-color: #ffffffaa;
  display: inline-block;
  padding: 20px;
  margin: 20px;
  border-radius: 5px;
}

.btn {
  margin-top: 20px;
  background-color: white;
  color: black;
}

.active {
  background-color: green;
  color: white;
}